.img{
    --background: url(../../../../assets/img/escanor.jpg)no-repeat center /cover;
}
//imagen
.titulo{
    font-size: 32px;
  }
  //tiurlo
nav ion-item{
    --background: transparent;
}
//borde transparente
*{
  color: white;
}
//color
