<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title  class="ion-text-center">LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<br>
<ion-content [fullscreen]="true" class="img">
  <br>
  <section class="ion-padding" class="neon-border">
    <article class="ion-padding">
      <h1 class="blanco ion-text-center titulo all">Trabisapp</h1>
      <p class="blanco ion-text-center all">La mejor forma de quedar mamadisimo</p>
    </article>
    <nav>
      <ion-item class="all">
        <ion-label position="floating"  class="blanco"> <ion-icon name="mail"></ion-icon> Correo Electronico</ion-label>
        <ion-input class="blanco " [(ngModel)]="credenciales.correo" ></ion-input>
      </ion-item>
      <ion-item class="all">
        <ion-label position="floating" class="blanco"> <ion-icon name="lock-closed"></ion-icon> Password</ion-label>
        <ion-input class="blanco" type="Password" [(ngModel)]="credenciales.password" ></ion-input>
      </ion-item>
    </nav>
      <ion-item class="all" >
        <ion-checkbox [indeterminate]="false" class="blanco">Recuerdame</ion-checkbox>
      </ion-item>
    <ion-button  expand="block" class="ion-margin-top all" (click)="logeando()" >Ingresar</ion-button>
    <br>
    <ion-button  expand="block" class="ion-margin-top all" routerLink="/register" >Registrarme</ion-button>
  </section>
</ion-content>

<nav>
  <ion-toolbar color="secondary">
    <ion-title  class="ion-text-center"> <ion-icon class="icon2" name="logo-whatsapp"></ion-icon>
    <ion-icon class="icon" name="logo-instagram"></ion-icon> <ion-icon class="icon1" name="logo-facebook"></ion-icon>
    <ion-icon class="icon3" name="logo-twitter"></ion-icon> <ion-icon class="icon4" name="logo-wechat"></ion-icon> </ion-title>
  </ion-toolbar>
</nav>
<!-- Vista de login de usuario-->
<!-- Esta vista muestra las credenciales necesarias para el login -->


