<ion-toolbar color="secondary">
  <ion-title  class="ion-text-center"><img class="gift-container-1" alt="Silhouette of mountains" src="assets\img\quedaras mamado.jpg"/>
  </ion-title>
</ion-toolbar>
  <ion-content> 
    <div  id="main-content">
      <h1 class="titulo1">Bienvenidos
        a
        Trabisapp
      </h1>
      <h1 class="subsubtitulo" >La mejor manera de quedar mamado</h1>
    </div>
    <ion-content>
      <div class="form-container">
          <ion-card color="success">
          <img alt="Silhouette of mountains" src="assets/img/CBUM.jpg" />
          <ion-card-header>
            <ion-card-title>Quedate como Cris Bumstead</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Cbum nos contactó para su mister olimpia y le recomendamos nuestros productos y rutinas para que supere su prime  , si quieres ser igual a el, esta es tu rutina
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="tertiary">
          <img alt="Silhouette of mountains" src="assets/img/toji.png" />
          <ion-card-header>
            <ion-card-title>Se como el gran Toji Fushiguro</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Toji nos contacta para poder derrotar a kenjaku y le recomendamos nuestras runtinas y suplementos para derrotar hechiceros , si quieres ser igual a el, esta es tu rutina
          </ion-card-content>
        </ion-card>
        <br>
        <ion-card color="primary">
          <img alt="Silhouette of mountains" src="assets/img/ronnie.jpeg" />
          <ion-card-header>
            <ion-card-title>Se igual a Ronnie Coleman</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            yeah buddy
          </ion-card-content>
        </ion-card>
        <br>
       
      </div>
      <ion-content>
        <ion-col size="12">
          <ion-button [routerLink]="['/listar']">
            <ion-icon name="cloud-circle"></ion-icon>Cruds
          </ion-button>
        </ion-col>
      </ion-content>
    </ion-content>
  </ion-content>
  <ion-toolbar color="secondary">
    <ion-title  class="ion-text-center"><img class="gift-container" alt="Silhouette of mountains" src="assets/img/thanos.jpg"/>
    </ion-title>
  </ion-toolbar>
